aniso8601==7.0.0
asgiref==3.6.0
boto3==1.21.20
botocore==1.24.20
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
charset-normalizer==2.0.4
cryptography==36.0.1
defusedxml==0.6.0
Deprecated==1.2.13
distlib==0.3.6
Django==4.2
django-braces==1.15.0
django-cors-headers==3.7.0
django-crontab==0.7.1
django-debug-toolbar==3.2
django-factory-boy==1.0.0
django-filter==21.1
django-graphiql-debug-toolbar==0.1.4
django-oauth-toolkit==1.7.0
djangorestframework==3.14.0
drf-social-oauth2==1.1.4
factory-boy==3.2.0
Faker==6.1.1
filelock==3.9.0
google-ads==18.1.0
google-auth-oauthlib==0.5.3
graphene==2.1.8
graphene-django==2.15.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
grpcio==1.50.0
grpcio-status==1.50.0
idna==2.10
jmespath==0.10.0
jwcrypto==1.0
lxml==4.9.2
numpy==1.22.4
oauthlib==3.1.0
pandas==1.4.2
Pillow==9.1.1
platformdirs==3.0.0
promise==2.3
proto-plus==1.22.0
psycopg2~=2.9.6
psycopg2-binary~=2.9.3
pycparser==2.20
PyJWT==2.3.0
pyperclip==1.8.2
python-dateutil==2.8.1
python-docx==0.8.11
python-dotenv==0.20.0
python3-openid==3.2.0
pytz==2023.3
PyYAML==6.0
requests==2.25.1
requests-oauthlib==1.3.1
Rx==1.6.1
s3transfer==0.5.2
singledispatch==3.4.0.3
six==1.15.0
slugify==0.0.1
social-auth-app-django==5.0.0
social-auth-core==4.2.0
sqlparse==0.4.4
text-unidecode==1.3
urllib3==1.26.2
virtualenv==20.19.0
wrapt==1.13.3
zombiedice==0.1.6
